<table class="table">
    <thead>
      <tr>
        <th scope="col">City</th>
        <th scope="col">Venue</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Ticket price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let show of shows">
            <tr>
                <td>{{show.city}}</td>
                <td>{{show.venue}}</td>
                <td>{{show.showDate}}</td>
                <td>{{show.showTime}}</td>
                <td>{{show.ticketPrice}} PLN</td>
                <td><button class="btn btn-primary delete-button" (click)="deleteShow(show.id)" >Delete</button></td>
            </tr>
        </ng-container>
    </tbody>
  </table>