<!-- 
<form class="search-match__form" [formGroup]="searchMatchesForm" (ngSubmit)="onSubmit()">
<div class="search-match__form-inputs">
    <div>
        <label for="firstCountry">Search by</label>
        <select class="form-control" id="firstCountry" formControlName="countryName" required>
        <option *ngFor="let country of countriesSearchSelection" [value]="country">{{country}}</option>
        </select>
    </div>
</div>
<button class="btn btn-primary search-match__form-button" type="submit" [disabled]="!searchMatchesForm.valid">Search</button>
</form> -->