<h1 class="header">Create new show</h1>
<form class="create-show-modal form-group" [formGroup]="createShowForm" (ngSubmit)="onSubmit()">
    <div class="create-show-modal__inputs form-group">
        <div>
          <label for="city">City</label>
          <select class="form-control" id="city" formControlName="city"required>
            <option *ngFor="let city of this.cities" [value]="city">{{city}}</option>
          </select>
        </div>
        <div>
            <label for="venue">Venue</label>
            <input class="form-control" type="text" id="venue" formControlName="venue" required>
          </div>
          <label for="date">Date</label>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="showDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div>
          <label for="time">Time</label>
          <input class="form-control" id="time" type="time" formControlName="showTime" required>
        </div>
        <div>
            <label for="ticketPrice">Ticket price</label>
            <input class="form-control" id="ticketPrice" type="number" formControlName="ticketPrice" required>
        </div>
    </div>
    <button class="btn btn-primary create-show-modal__button" type="submit" [disabled]="!createShowForm.valid">Add Show</button>
  </form>